{% extends "admin/_reset_base.html" %}
{% block inner %}
{% if validlink %}
<form method="post">{% csrf_token %}
  {{ form.errors }}
  <label for="id_new_password1">Nova palavra-passe</label>
  {{ form.new_password1 }}
  <label for="id_new_password2">Repetir palavra-passe</label>
  {{ form.new_password2 }}
  <button type="submit">Definir nova palavra-passe</button>
</form>
{% else %}
<div class="msg">O link é inválido ou já foi utilizado. Peça uma nova recuperação.</div>
<p style="margin:0"><a href="/admin/password-reset/">Recuperar novamente</a></p>
{% endif %}
{% endblock %}
